@font-face {
  font-family: 'VarsityTeam';
  src: url('../assets/fonts/VarsityTeam-Bold.woff') format('woff');
  src: url('../assets/fonts/Jersey\ M54.woff') format('truetype'); /* Ruta alternativa para la fuente */
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Varsity Team', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
